:root {
	--Font_Dark_blue: #282832;
	--background: #fff; 
	--white_text: #fff;
	--light_blue: #c3dffb;
}

/* Sets the html font stylem margins and background color */
html {
	background-color: var(--Font_Dark_blue);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* The body must flex */
body {
	display: flex;
	flex-direction: column;
	line-height: 1.3;
}
/* Setting the header to mock the file */
header {
	display: flex;
	justify-content: space-between;
	text-align: center;
	padding: 1%;
	background-color: var(--Font_Dark_blue);
	color: #fff;

}
/* Setting the nav a font color and text style */
nav a{
	color: var(--light_blue);
	font-weight: bold;
	text-decoration: none;
        
}
/* Setting the nav unordered list to apear like the mockup */
nav ul {
	display: flex;
	justify-content: space-between;
	min-width: 500px;
	/* align-content: flex-end; */
	position: relative;
	left: 200px;
}
/* h1 style */
h1 {
	font-size: 200%;
	background-color: var(--light_blue);
}
/* h2 style */
h2 {
	font-size: 200%;
	background-color: var(--light_blue);
	color: var(--Font_Dark_blue);
	font-size: large;
	width: 200px;


}
/* Absolute positioning */
#absolute-section {
	position: relative;
	bottom: 40px;
	left: 1000px;
}
/* Relative positioning */
#relative-section {
	position: relative;
}

/* images must be shown like this  */
img {
	width: 100%;
	max-height: 300px;
	background-color: var(--background);
	min-height: 300px;
	min-width: 450px;
}

img:hover {
	box-shadow: 0 0 20px var(--Font_Dark_blue);
}

img:focus {
	border-width: 10px;
  }
#surfBoardStyle {
	width: 100%;
	max-height: 600px;
	background-color: var(--background);
	min-height: 400px;
	min-width: 1000px;
}

#main_content_background {
	background-color: var(--white_text);
}
.boxes {
	border-style: solid;
	border-color: var(--light_blue);
	border-width: 5px;
	padding: 10px;
	margin: 20px;
	flex: 0 0 300px
}

.products {
	flex: 4;
	background-color: #fff;
	padding: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: flex-start;
  }

.boxes-get-flexed {
	
	display: flex;
	flex-direction: flex;
	flex-wrap: wrap;
	/* space between gives an even placement for the boxes */
	justify-content: space-between;


}

h1, h2 {
	color: var(--Font_Dark_blue);
	margin: 0;

}
p {
	color: var(--Font_Dark_blue)


}

.push_box_left {
	margin-right: 1050px;
}
.push_box_left_02 {
	margin-right: 1150px;
}

footer {
	color: var(--Font_Dark_blue);
	text-align: center;
	font-weight: bold;
	text-decoration: none;
	/* display: flex; */
	justify-content: center;


}
footer ul a {
	color: var(--Font_Dark_blue);
    text-decoration:underline;
}


/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
	/* on tablets, set columns to only be 50% of the width and not grow */
	.card-column {
	  flex: 0 0 50%;
	  max-width: 50%;
	}
  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}
/* media query for larger screens */
@media screen and (min-width: 992px) {
	header {
	  width: 75%;
	}
  
	.card-column {
	  flex: 0 0 33.333%;
	  max-width: 33.333%;
	}
}